blocIdentityFlows.json
[{"id":"a085229d.20f5b","type":"tab","label":"Flow 1"},{"id":"ad2dd6b2.7b6d28","type":"tab","label":"Flow 2"},{"id":"f8b3c938.97a978","type":"http in","z":"a085229d.20f5b","name":"","url":"/blocIdentityform","method":"get","upload":false,"swaggerDoc":"","x":170.0000457763672,"y":84.00005531311035,"wires":[["f5911228.5648c"]]},{"id":"c0b8464d.133d48","type":"template","z":"a085229d.20f5b","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"\ninput[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #5B92E5;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n    width: 50%;\n    \n}\n\ninput[type=submit]:hover {\n    background-color: #5B92E5;\n}\n\n.navbar-left {\nbackground-color: #5B92E5;\npadding: 10px 10px;\n    margin: 0px 0;\n    border: none;\n}\nh2 {\ncolor : white;\n}\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}\n.body { background-color: #5B92E5; }\n.colorMain { color: #5B92E5; }\n.bgColor1 { background-color: #E55B92; }\n.bgColor2 { background-color: #BF2F68; }\n.bgColor3 { background-color: #FF8CBA; }\n.bgColor4 { background-color: #92E55B; }\n.bgColor5 { background-color: #68BF2F; }\n.bgColor6 { background-color: #BAFF8C; }\n.fontColor0 { color: #5B92E5; }\n.fontColor1 { color: #E55B92; }\n.fontColor2 { color: #BF2F68; }\n.fontColor3 { color: #FF8CBA; }\n.fontColor4 { color: #92E55B; }\n.fontColor5 { color: #68BF2F; }\n.fontColor6 { color: #BAFF8C; }","x":560.000114440918,"y":100.00005722045898,"wires":[["d8945ffa.a9804"]]},{"id":"f5911228.5648c","type":"template","z":"a085229d.20f5b","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":388.00006103515625,"y":90.00005722045898,"wires":[["c0b8464d.133d48"]]},{"id":"d357dacd.59e5c8","type":"http response","z":"a085229d.20f5b","name":"","statusCode":"200","headers":{},"x":930.0002212524414,"y":92.00007724761963,"wires":[]},{"id":"d8945ffa.a9804","type":"template","z":"a085229d.20f5b","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html lang=\"en\">\n  <head>\n    <!-- Required meta tags -->\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n<script type=\"text/javascript\">\n$(function() {\n  $('form').submit(function(){\n    $.get('http://localhost:1880/blocidentitybio', function() {\n      window.location = 'http://localhost:1880/blocidentitybio';\n    });\n    return false;\n  });\n});\n</script>\n    <!-- Bootstrap CSS -->\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css\" integrity=\"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm\" crossorigin=\"anonymous\">\n\n    <title>Bloc Identity</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n\n    <style>{{{payload.style}}}</style>\n  </head>\n <h2 class=\"navbar-left brand-name\">Register Child\n         \n       </h2>\n\n<div>\n  <form enctype='application/json' method=\"post\" action=\"/createRecord\" ajax=\"true\">\n     <label for=\"fname\">Given Name</label>\n    <input type=\"text\" id=\"gname\" name=\"givenName\">\n\n    <label for=\"fname\">Family Name</label>\n    <input type=\"text\" id=\"fname\" name=\"familyName\">\n<label for=\"gender\">Gender</label>\n<div>\n  <input type=\"radio\" name=\"gender\" value=\"male\" checked> Male<br>\n  <input type=\"radio\" name=\"gender\" value=\"female\"> Female<br>\n  <input type=\"radio\" name=\"gender\" value=\"other\"> Other\n</div>\n\n<label for=\"dob\">Date of Birth</label>\n<input name=\"dob\" id=\"dob\" type=\"date\" left-align>\n\n<iframe src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d211785.38732698635!2d35.69694026508678!3d33.96306929706953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151f17028422aaad%3A0xcc7d34096c00f970!2sLebanon!5e0!3m2!1sen!2suk!4v1517066518723\" width=\"100%\" height=\"400\" frameborder=\"0\" style=\"border:0\" allowfullscreen></iframe>        <!--our form-->\n        <h4>Chosen Location</h4>\n            <lable for=\"latitude\">Latitude</lable><input name=\"latitude\" type=\"text\" id=\"lat\" value=\"33.85\"><br>\n            <lable for=\"longitude\">Latitude</lable><input name=\"longitude\" type=\"text\" id=\"lng\" value=\"35.86\"> \n  <input type=\"hidden\" name=\"biometric\" value=\"12345\">\n</script>\n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n\n\n<script>{{{payload.script}}}\n</script>\n<!--script src=\"https://code.jquery.com/jquery-3.2.1.slim.min.js\" integrity=\"sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN\" crossorigin=\"anonymous\"></script-->\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js\" integrity=\"sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q\" crossorigin=\"anonymous\"></script>\n<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js\" integrity=\"sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl\" crossorigin=\"anonymous\"></script>","output":"str","x":722.0001678466797,"y":88.00006866455078,"wires":[["d357dacd.59e5c8"]]},{"id":"888baee1.e42a3","type":"template","z":"a085229d.20f5b","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html lang=\"en\">\n  <head>\n    <!-- Required meta tags -->\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n\n    <!-- Bootstrap CSS -->\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css\" integrity=\"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm\" crossorigin=\"anonymous\">\n\n    <title>Bloc Identity</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n\n    <style>{{{payload.style}}}</style>\n  </head>\n  <div class=\"header\">\n <h2 class=\"navbar-left brand-name\">Biometrics\n      </h2></div>\n      <div class=test-head\">\n      <h3 align=\"center\">Please scan the Iris</h3></div>\n       <img class=\"img-responsive2\"       \n           src=\"/images/eyescanner.png\"\n           center height=auto width=100%>\n\n<div class=\"wrapper\">\n    \n    <button align=\"center\" type=\"submit\" value=\"Submit\">Submit</subimit>\n  \n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n\n\n<script>{{{payload.script}}}\n</script>\n<!--script src=\"https://code.jquery.com/jquery-3.2.1.slim.min.js\" integrity=\"sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN\" crossorigin=\"anonymous\"></script-->\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js\" integrity=\"sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q\" crossorigin=\"anonymous\"></script>\n<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js\" integrity=\"sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl\" crossorigin=\"anonymous\"></script>","output":"str","x":635.0001983642578,"y":194.0000877380371,"wires":[["1d7c4a0a.7d18e6"]]},{"id":"d2770034.cf9c3","type":"template","z":"a085229d.20f5b","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":".wrapper {\ntext-align : center;\n}\n.text-head {\npadding : 20px;\n}\ninput[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #5B92E5;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n    width: 50%;\n    \n}\n\n\nbutton[type=submit] {\n    width: 100%;\n    background-color: #5B92E5;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n    width: 50%;\n    \n}\ninput[type=submit]:hover {\n    background-color: #5B92E5;\n}\n\n.navbar-left {\nbackground-color: #5B92E5;\npadding: 10px 10px;\n    margin: 0px 0;\n    border: none;\n}\nh2 {\ncolor : white;\n}\nh3 {\ncolor : #5B92E5;\n}\n.header {\npadding : 10px\n}\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}\n.body { background-color: #5B92E5; }\n.colorMain { color: #5B92E5; }\n.bgColor1 { background-color: #E55B92; }\n.bgColor2 { background-color: #BF2F68; }\n.bgColor3 { background-color: #FF8CBA; }\n.bgColor4 { background-color: #92E55B; }\n.bgColor5 { background-color: #68BF2F; }\n.bgColor6 { background-color: #BAFF8C; }\n.fontColor0 { color: #5B92E5; }\n.fontColor1 { color: #E55B92; }\n.fontColor2 { color: #BF2F68; }\n.fontColor3 { color: #FF8CBA; }\n.fontColor4 { color: #92E55B; }\n.fontColor5 { color: #68BF2F; }\n.fontColor6 { color: #BAFF8C; }","x":417.00018310546875,"y":194.0000877380371,"wires":[["888baee1.e42a3"]]},{"id":"1d7c4a0a.7d18e6","type":"http response","z":"a085229d.20f5b","name":"","statusCode":"200","headers":{},"x":909.000373840332,"y":206.00009155273438,"wires":[]},{"id":"94e39894.7be978","type":"http in","z":"a085229d.20f5b","name":"","url":"/blocIdentitybio","method":"get","upload":false,"swaggerDoc":"","x":165.0001678466797,"y":194.0000877380371,"wires":[["d2770034.cf9c3"]]},{"id":"1147838f.a4f12c","type":"http in","z":"a085229d.20f5b","name":"Block Identity API","url":"/createRecord","method":"post","upload":false,"swaggerDoc":"","x":147.00003814697266,"y":314.0002899169922,"wires":[["8b66e72d.c4ec78","89f93c7c.ba7ab","218072a7.baf3fe"]]},{"id":"8b66e72d.c4ec78","type":"debug","z":"a085229d.20f5b","name":"Debug API ","active":true,"console":"false","complete":"payload","x":435.8334655761719,"y":434.3336133956909,"wires":[]},{"id":"eadcee52.aeba3","type":"debug","z":"a085229d.20f5b","name":"Debug blockchain","active":true,"console":"false","complete":"payload","x":841.333423614502,"y":354.0002040863037,"wires":[]},{"id":"89f93c7c.ba7ab","type":"blockchain","z":"a085229d.20f5b","name":"Add to Blockchain","enabledebug":"false","x":576.8335266113281,"y":323.0001926422119,"wires":[["eadcee52.aeba3"]]},{"id":"218072a7.baf3fe","type":"http response","z":"a085229d.20f5b","name":"","statusCode":"200","headers":{},"x":349.1667060852051,"y":292.00003814697266,"wires":[]},{"id":"6a592d26.66e454","type":"debug","z":"ad2dd6b2.7b6d28","name":"Debug verify","active":true,"console":"false","complete":"payload","x":380.8331756591797,"y":233.02777099609375,"wires":[]},{"id":"3b80ec63.a47ea4","type":"blockchainVerify","z":"ad2dd6b2.7b6d28","name":"","enabledebug":"false","x":265.33317947387695,"y":135.02778434753418,"wires":[["6a592d26.66e454"]]},{"id":"f4b904ae.97d368","type":"delay","z":"ad2dd6b2.7b6d28","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":65,"y":135.02802848815918,"wires":[["3b80ec63.a47ea4"]]}]